@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "montserrat-medium";
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "montserrat-regular";
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "montserrat-semibold";
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "montserrat-bold";
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "montserrat-extrabold";
    src: url(../assets/fonts/Montserrat-ExtraBold.ttf);
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'montserrat-regular', sans-serif;
}

tr:hover {
    @apply bg-gray-100;
}

.font-ex-color {
    Color: #343948 !important;
}

.tab-focus {
    color: white !important;

    position: relative;
}

.font-ex-medium {
    font-family: 'montserrat-medium', sans-serif !important;
}

.font-ex-bold {
    font-family: 'montserrat-extrabold', sans-serif !important;
}

.font-ex-semibold {
    font-family: 'montserrat-semibold', sans-serif !important;
}

.font-ex-extrabold {
    font-family: 'montserrat-extrabold', sans-serif !important;
}

/* @media (max-width: 1280px) {
  .ex-sidebar{
    transform: translateX(0)!important;
    transition: 1s;
  }
  .ex-sidebar.ex-hide-sidebar{
    transform: translateX(-100%)!important;
    transition: 1s;
  }
} */

.ex-sidebar {
    transform: translateX(0) !important;
    /* transition: 1s; */
}

@media(max-width: 1024px) {
    .ex-sidebar.ex-hide-sidebar {
        transform: translateX(-100%) !important;
        transition: 1s;
    }
}

.ex-sidebar.ex-hide-sidebar {
    transition: 0;
}

/* @media (min-width: 1280px) {
  .ex-sidebar{
    transform: translateX(0)!important;
  }
  .ex-sidebar.ex-hide-sidebar{
    transform: translateX(-100%)!important;
  }
} */


.ex-burger {
    @apply fill-[#343948];
}

.ex-burger.show {
    /*transition: ease-in-out 1s;*/
    z-index: 50;
    position: fixed;
    @apply fill-white mt-3 top-[30px] translate-x-[200px] hidden;
}

.ex-hover-sidebar:hover {
    background-color: #5C6171;
    transition: ease-in-out 0.4s;
}

.transitionsidebar {
    transition: ease-in-out 0.4s;
}

.hover-sidebar {
    background-color: #5C6171;
    transition: ease-in-out 0.4s;
}

@media (min-width: 768px) {
    .ex-table {
        height: calc(100vh - 240px);
    }
}

.ex-catalog {
    height: calc(100vh - 170px);
}

@media (max-width: 320px) {
    .size-modal-add {
        @apply w-[300px];
    }

    .btn-modal-close {
        @apply relative;
        @apply bottom-3;
        @apply left-14
    }
}

.menu-line {
    @apply w-[20px] h-[3px] my-[2px] bg-white block;
}

.menuu_active>span:nth-child(1) {
    @apply rotate-45;
}

.menuu_active>span:nth-child(2) {
    @apply scale-0;
}

.menuu_active>span:nth-child(3) {
    @apply -rotate-45;
}

.swiper {
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {

    right: 10px;
    padding: 30px;
    color: rgb(0, 0, 0) !important;
    fill: rgb(0, 0, 0) !important;
    scale: 50%;
    stroke: black !important;
}

.swiper-button-next.paksa-putih,
.swiper-button-prev.paksa-putih {

    right: 10px;
    padding: 30px;
    color: rgb(255, 255, 255) !important;
    fill: rgb(255, 255, 255) !important;
    scale: 50%;
    stroke: black !important;
}

.swiper-pagination-bullet-active {
    background-color: rgb(0, 0, 0) !important;
}

.theme-button-alert {
    margin: 0 2em;
}

.swal-footer {
    overflow: auto;
}

.swal-button-container {
    float: right;
}

.effectmodal {
    display: block;
    @apply bg-black opacity-50 scale-125;
}

input[type="date"] {

    padding-left: 15px;

    top: 50%;
    left: 50%;
    font-family: "Roboto Mono", monospace;
    overflow: hidden;

    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    background-color: transparent;
    @apply scale-150;

    display: flex;
    justify-content: center;


    padding-inline: 14px;
    align-items: center;

    cursor: pointer;
    border-radius: 3px;
}

/* tab pointer invoice */
@media (max-width: 375px) {
    .pointer1 {
        @apply translate-x-0;
    }

    .pointer2 {
        @apply translate-x-[81px];
    }

    .pointer3 {
        @apply translate-x-[164px];
    }
}

@media (min-width: 375px) {
    .pointer1 {
        @apply translate-x-0;
    }

    .pointer2 {
        @apply translate-x-[104px];
    }

    .pointer3 {
        @apply translate-x-[213px];
    }
}

/* tab pointer pembayaran invoice */

@media (max-width: 375px) {
    .pointer-bayar1 {
        @apply translate-x-0;
    }

    .pointer-bayar2 {
        @apply translate-x-[87px];
    }

    .pointer-bayar3 {
        @apply translate-x-[178px];
    }
}

@media (min-width: 375px) {
    .pointer-bayar1 {
        @apply translate-x-0;
    }

    .pointer-bayar2 {
        @apply translate-x-[110px];
    }

    .pointer-bayar3 {
        @apply translate-x-[217px];
    }
}

@media (min-width: 768px) {
    .pointer-bayar1 {
        @apply translate-x-0;
    }

    .pointer-bayar2 {
        @apply translate-x-[140px];
    }

    .pointer-bayar3 {
        @apply translate-x-[268px];
    }
}

input[type=file] {
    color: transparent !important;
    position: absolute;

}

/* tab pointer invoice mobile */
@media (max-width: 376px) {
    .tab_invoice_mobile1 {
        @apply translate-x-0;
    }

    .tab_invoice_mobile2 {
        @apply translate-x-[110px];
    }

    .tab_invoice_mobile3 {
        @apply translate-x-[225px];
    }
}

input[type=file]::file-selector-button {
    transform: translateY(70px);
    color: white !important;
    background-color: #5C6171;
    justify-content: center;
    align-items: center;

    font-size: 14px;

    margin: auto auto;
    content: 'Upload';
    text-align: center;
    border: 0;
    border-radius: 4px;


    display: block;

}

.textrich {
    line-break: anywhere;
}

@media (max-height: 568px) {
    .main-detain-invoice {
        @apply h-[290px];
    }
}

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: #fafafa;
    height: 45px;
    width: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100%;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 0;
}


@-moz-document url-prefix() {
    select {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0 0 0 #ffffff;
    }
}


.loadingspinner {
    pointer-events: none;
    width: 2.5em;
    height: 2.5em;
    border: 0.4em solid transparent;
    border-color: #eee;
    border-top-color: #3E67EC;
    border-radius: 50%;
    outline: none;
    animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}

.body-loading {
    border: none;
    overflow: hidden;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}