@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "montserrat-medium";
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "montserrat-semibold";
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "montserrat-bold";
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "montserrat-extrabold";
    src: url(../assets/fonts/Montserrat-ExtraBold.ttf);
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'montserrat-medium', sans-serif;
}

tr:hover {
    @apply bg-gray-100;
}

.font-ex-color {
    Color: #343948 !important;
}

.tab-focus {
    color: white !important;
    background-color: #343948 !important;
}

.font-ex-bold {
    font-family: 'montserrat-extrabold', sans-serif !important;
}

.font-ex-semibold {
    font-family: 'montserrat-semibold', sans-serif !important;
}

.font-ex-extrabold {
    font-family: 'montserrat-extrabold', sans-serif !important;
}

/* @media (max-width: 1280px) {
  .ex-sidebar{
    transform: translateX(0)!important;
    transition: 1s;
  }
  .ex-sidebar.ex-hide-sidebar{
    transform: translateX(-100%)!important;
    transition: 1s;
  }
} */

.ex-sidebar {
    transform: translateX(0) !important;
    /* transition: 1s; */
}

.ex-sidebar.ex-hide-sidebar {
    transform: translateX(-100%) !important;
    transition: 1s;
}

/* @media (min-width: 1280px) {
  .ex-sidebar{
    transform: translateX(0)!important;
  }
  .ex-sidebar.ex-hide-sidebar{
    transform: translateX(-100%)!important;
  }
} */

.ex-burger {
    @apply fill-[#343948];
}

.ex-burger.show {
    /*transition: ease-in-out 1s;*/
    z-index: 50;
    position: fixed;
    @apply fill-white mt-3 top-[30px] translate-x-[200px] hidden;
}

.ex-hover-sidebar:hover {
    background-color: #5C6171;
    transition: ease-in-out 0.4s;
}

@media (min-width: 768px) {
    .ex-table {
        height: calc(100vh - 240px);
    }
}

.menu-line {
    @apply w-[20px] h-[3px] my-[2px] bg-white block;
}

.menuu_active>span:nth-child(1) {
    @apply rotate-45;
}

.menuu_active>span:nth-child(2) {
    @apply scale-0;
}

.menuu_active>span:nth-child(3) {
    @apply -rotate-45;
}

.swiper {
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {

    right: 10px;
    padding: 30px;
    color: rgb(0, 0, 0) !important;
    fill: rgb(0, 0, 0) !important;
    scale: 50%;
    stroke: black !important;
}

.swiper-pagination-bullet-active {
    background-color: rgb(0, 0, 0) !important;
}

.theme-button-alert {
    margin: 0 2em;
}

.swal-footer {
    overflow: auto;
}

.swal-button-container {
    float: right;
}

.effectmodal {
    display: block;
    @apply bg-black opacity-50 scale-125;
}